@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Shippori+Antique&display=swap');
body {
	font-family: 'Amatic SC', cursive;
	font-family: 'Shippori Antique', sans-serif;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
/*header*/
.header {
	display: flex;
	padding: 0 16px;
	margin: 0;
	justify-content: space-between;
	align-items: center;
	background-color: #8cad79;
}
.logo {
	color: #f5f2e9;
	font-size: 30px;
}
ul {
	display: flex;
}
li {
	display: flex;
	list-style: none;
	padding: 5px;
	margin: 5px;
	font-size: 18px;
}
a {
	list-style: none;
	text-decoration: none;
}
.page {
	color: #f5f2e9;
}
/*hero*/
.hero {
	background-color: #8cad79;
	padding: 24px 48px 48px 24px;
	margin: 0;
	display: flex;
	color: #f5f2e9;
	justify-content: space-around;
	align-items: center;
}
.large-text {
	font-size: 64px;
	font-weight: 900;
}
.small-text {
	flex-wrap: wrap;
}
.hero-text {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.button {
	height: 33px;
	width: 115px;
	padding: 3px;
	margin: 0;
	border-style: solid;
	border-width: 3px;
	border-color: #d2dbcc;
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	font-weight: 900;
	border-radius: 0;
	padding: 8px 15px;
	margin: 0;
	background-color: #d2dbcc;
	color: #8cad79;
	border-style: none;
}
.img-holder {
	background-color: #d2dbcc;
	color: #8cad79;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 300px;
}
/*information*/
.info {
	background-color: #f5f2e9;
	color: #8cad79;
	padding: 32px;
}
.info-text {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	font-weight: 700;
}
.blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 24px;
}
.block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img-blocks {
	height: 250px;
	width: 250px;
	border: thick solid #8cad79;
	border-radius: 13px;
	padding: 0.1px;
}
.text {
	margin: 0;
	padding: 0 8px 8px 0;
}
/*quote & sign-up*/
.q {
	background-color: #e6ece3;
	color: #8cad79;
	font-size: 36px;
	font-weight: 600px;
	padding: 80px 60px 80px 60px;
	display: flex;
	align-items: center;
}

.quote {
	border: medium solid #8cad79;
	padding: 32px;
	margin: 0;
	display: flex;
	justify-content: center;
}
/*added late but sign up section*/
.sign-up {
	padding: 10vh 0 4vh 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #f5f2e9;
}
.alert {
	background-color: #d2dbcc;
	color: #8cad79;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0 80px 0px 32px;
	border-radius: 13px;
	gap: 16px;
}
.sign-text {
	padding: 48px;
	margin: 0;
}
.button2 {
	color: #8cad79;
	border: medium solid #8cad79;
}
/*footer*/
.footer {
	display: flex;
	background-color: #8cad79;
}
